@model BTDatabaseApplicationAppFramework.Models.Response_Group_Members

@{
    ViewBag.Title = "Telephone Management System";
}
<h2 align="center">@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

    <!DOCTYPE html>
    <html>
    <head>
            <style type="text/css">
                body {
                    font-family: Arial;
                    font-size: 10pt;
                }

                .error {
                    color: red;
                }
            </style>
    </head>

    <body>
        @using (Html.BeginForm("ResponseGpMemberChanges", "Home", FormMethod.Post))
        {
            {@Html.ValidationSummary(true)<fieldset>
    <legend>Change Response Group Member Details</legend>
    <table border="0">
        @Html.HiddenFor(modelItem => modelItem.Response_GroupMember_ID, new { @Value = ViewBag.Response_GroupMember_ID })
        <tr>
            <td>Response GroupMember PUID Name: </td>
            <td>@Html.TextBoxFor(modelItem => modelItem.Response_GroupMember_PUID_Name, new { style = "width:400px;", @Value = ViewBag.Response_GroupMember_PUID_Name, @required = "required", @readonly = "true" })</td>
            <td>@Html.ValidationMessageFor(model => model.Response_GroupMember_PUID_Name, "", new { @class = "error" })</td>
        </tr>
        <tr>
            <td>Response GroupMember Email: </td>
            <td>@Html.TextBoxFor(modelItem => modelItem.Response_GroupMember_Email, new { style = "width:400px;", @Value = ViewBag.Response_GroupMember_Email, @required = "required" })</td>
            <td>@Html.ValidationMessageFor(model => model.Response_GroupMember_Email, "", new { @class = "error" })</td>
        </tr>
        <tr>
            <td>Response GroupMember Name: </td>
            <td>@Html.DropDownListFor(model => model.Response_GroupMember_Name, new SelectList(Model.ResponseGroupCollection, "Response_Group_Name", "Response_Group_Name"), "Select", new { style = "width:400px;", @Value = ViewBag.Response_GroupMember_Name, @required = "required" })</td>
            <td>@Html.ValidationMessageFor(model => model.Response_GroupMember_Name, "", new { @class = "error" })</td>
        </tr>
        <tr>
            <td>Response GroupMember Type:</td>
            <td>@Html.DropDownListFor(model => model.Response_GroupMember_Type, new SelectList(Model.ResponseGrpMemberTypesCollection, "Response_GrpMemberType_Desc", "Response_GrpMemberType_Desc"), "Select",  new { style = "width:400px;", @Value = ViewBag.Response_GroupMember_Type, @required = "required" })</td>
            <td>@Html.ValidationMessageFor(model => model.Response_GroupMember_Type, "", new { @class = "error" })</td>
        </tr>

        <tr>
            <td><br><br /></td>
            <td>
                <input type="button" title="Go Back" value="Go Back" onclick="location.href='@Url.Action("ResponseGpMemberDisplay", "Home")'" )'" />  <input type="submit" name="Add Record" value="Update Record" />
            </td>
        </tr>

    </table>



    @{
        if (TempData["message"] != null)
        {
            <div style="color:red">@TempData["message"] </div>

        }
    }


  
</fieldset>
        }
    }


    </body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    </html>

